:root {
    --bs--primary: hsl(233, 26%, 24%);
    --bs--secondary:hsl(233, 8%, 62%);
    --bs--base: hsl(220, 16%, 96%);
    --bs--details:hsl(0, 0%, 98%);
    --bs--pure: hsl(0, 0%, 100%);
    --bs--green: hsl(136, 65%, 51%);
    --bs--aqua:hsl(192, 70%, 51%);
    --x--lightline: hsl(233, 8%, 62%);
    --x--lightrowbg:hsl(0, 0%, 98%);
}

* {
    font-family: 'PublicSans', sans-serif;

}
.row{
    padding: 0;
    margin: 0;
}

html, body ,.container-fluid{
    padding: 0;
}



/* ----------------------------------header------------------------------------------- */
.nav-link {
    color: var(--bs--secondary);
}
.ml-auto .btn{
    background-image: linear-gradient(to right,var(--bs--green),var(--bs--aqua));
    color: var(--bs--pure);
}
.ml-auto .btn:hover{
    opacity: 0.6;
}
.container .navbar-nav .nav-item a{
    position: relative;
    display: flex;
}
.container .navbar-nav .nav-item a:hover::after{
width: 100%;
}
.container .navbar-nav .nav-item a::after{
    content: "";
    display: block;
    background-color: var(--bs--green);
    height:4px;
    position: absolute;
    bottom: -10px;
    transition: 0.5s;
    left: 0;
    width: 0;

}

/* --------------------------------------main------------------------------------- */

.card-wrapper{
    background-image: url("../../public/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: 75rem;
    background-position: left ;
    position: absolute;
    z-index: -1;
}
.card-wrapper-image img{
    width: 41rem;
    position: absolute;
    top: -100px;
    right:-6.8rem;
    z-index: -1;
}

main{
    padding: 0;
    margin: 0;
}

.card{
    margin-top: 46px;
}

.row.g-2{
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper{
    position: relative;
    z-index: -1;

}

.card-wrapper2{
    position: relative;
    z-index: -3;
    top: 30px;
}

.card-title {
    color: var(--bs--primary);
}

.card-subtitle {
    color: var(--bs--secondary);
}

.button-costume{
    background-image: linear-gradient(to right,var(--bs--green),var(--bs--aqua));
    color: var(--bs--pure);
}

.button-costume:hover{
    opacity: 0.6;
    color: white;
}

.container-fluid.main {
    background-color:var(--x--lightrowbg);
    margin-top: -28px;
    /*background-color: #0a53be;*/
}

.row.blog .col-md-6{
    width: 100%;
}

.blog .card .card-title{
    font-weight: 400;
}

.card{
    background-color: transparent;
}

.row.blog .card .card-body.blog-body .card-text{
    color: var(--x--lightline);
}

.card-group.blog-group{
    min-width: 100%;
    gap: 1rem;
}

.row .blog-group img{
    max-width: 100px;
    min-width: 20%;
}

.row .blog-group .card-title{
    font-weight: 400;
}

.row .blog-group .card-text{
    color: var(--x--lightline);
    font-size: 0.9rem;
}

.card-group.blog-group .card{
    max-width: 300px;
    min-width: 200px;
}

.container-fluid .row .col-md-12 h2{
    margin-top: 7rem;
    font-weight: 400;
}

.container-fluid .row .col-md-12 .Subgroup-links{
    gap: 2rem;
    flex-wrap: wrap !important;
}

.container-fluid .row .col-md-12 .Subgroup-links .card .card-body{
    max-width: 220px;
}

.container-fluid .row .col-md-12 .Subgroup-links .card{
    max-width: 280px;
    min-width: 200px;
}

.container-fluid .row .col-md-12 .Subgroup-links img{
    border-radius: 7px 7px 0 0;
    max-width: 300px;
    min-width: 200px;
}

.container-fluid .row .col-md-12 .Subgroup-links small{
    color: var(--x--lightline);
    font-size: 0.6rem;
}

.container-fluid .row .col-md-12 .Subgroup-links a{
    font-weight: 400;
    font-size: medium;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container-fluid .row .col-md-12 a{
    /*margin-top: 7rem;*/
    font-weight: 400;
    text-decoration: none;
    display:block;
}

.container-fluid .row .col-md-12 a:hover{
    opacity: 0.8;
    color: var(--bs--aqua);
}

.container-fluid .row .col-md-12 .Subgroup-links p{
    font-weight: 400;
    color: var(--x--lightline);
    font-size: small;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: fade;
}

@media screen and (max-width: 768px){
    .container-fluid.main .row.blog{
        text-align: center;
    }
    .container-fluid.main .blog-group img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .container-fluid.main .row .card-group.Subgroup-links img{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

}

@media screen and (max-width: 368px){
    .container-fluid.main .row{
        font-size: small;
    }
}


@media (max-width:992px){
    .card-wrapper-image img{
        background-image: url("../../public/images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-size: 50rem;

    }

    .card-wrapper{
        max-width: 100%;
        margin-left: auto;
    }

    .row.overflow-x-hidden .row {
        display: flex;
        flex-direction: column-reverse;
        gap: 10rem;
    }


@media (max-width:540px){
    .card-wrapper-image img{
        width: 36rem;
    }

}


@media (max-width:420px){
    .card-wrapper-image img{
        width: 31rem;
    }
}

@media (max-width:768px){
    .card-wrapper-image img{
        background-image: url("../../public/images/bg-intro-mobile.svg");

        background-repeat: no-repeat;
        background-size: 50rem;

    }
    .container .blog {
        gap: 0;
    }
}

    .card-wrapper{
        width: 100%;
        background-position: right;
    }

    .row.overflow-x-hidden .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .card.border-0.mb-5 .card-body{
        margin-top: 30rem;
    }
}


@media (max-width:768px){
    .text-md-start{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .blog-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

    .blog-footer-title{
        margin-left: 40px;
    }

    .blog-footer-btn{
        display: flex;
        justify-content: center;
        margin-left: 45px;
    }

    .footer-text{
        margin-left: 45px;
    }
}


/* ------------------------------footer------------------------------------------ */

footer{
    background-color:
    var(--bs--primary);
}

footer .footer-text p{
    color: var(--bs--pure);
}

footer .list-decor a{
    color: var(--bs--base);
    text-decoration: none;
}
footer .list-decor a:hover{
    color: var(--bs--green);
}
.footer-text {
    color: var(--bs--secondary);
}

.x-svg:hover path{
    fill: var(--bs--green);
}